---
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Biblia 365">
		<meta name="description" content="Leitura biblica diária">
		<title>Biblia 365</title>
	</head>
	<body>
		<slot />
		<ClientRouter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
